* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*border: 1px solid black;*/
}

html {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-image: url(../images/repeated-square.webp);
    background-repeat: repeat;
}

header, footer {
    background-color: #f1a536;
}

/*header {
    position: sticky;
    top: 0;
    z-index: 100;
}*/

.logo {
    height: 5rem;
}

.fa-star {
    color: #a63223;
}
.fa-print {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: black;
    margin-left: 2rem;;
}

main {
    height: auto;
    width: 85%;
    margin: 0 auto;
}

figcaption {
    text-align: center;
}

div.hero > h2 {
    background-color: white;
    width: fit-content;
    position: absolute;
    margin-bottom: 25px;
    padding: .15rem .9rem;
}

.hero {
    height: 25rem;
    margin-top: 2px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-image {
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

.categories-images, .healthy-recipes-images, .where-to-images, header, footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


header, footer {
    padding-left: 5rem;
    padding-right: 5rem;
}

section {
    padding: 3rem 5rem;
}

section h1, section p {
    margin-bottom: .9rem;
}

.images1, .images3 {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.images2 {
    width: 200px;
    height: 200px;
    object-fit: cover;
    position: absolute;
}

.meal-idea, .where {
    width: 300px;
    height: auto;
}

.healthy-recipes, .prep {
    background-color: #dadfea;
}


.recipe {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.recipe-caption {
    width: 100%;
    padding: 5px;
    background-color: white;
    z-index: 10;
}

.images3 {
    border: 6.5px solid #dadfea;
}

.prep {
    padding: 1.3rem 5rem;
}

.prep-info {
    display: flex;
    justify-content: flex-start;
    column-gap: 6rem;;
}

.prep-info span {
    font-weight: bold;
}

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .9rem;;
}

button {
    color: white;
    margin-right: 25px;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    background-color: #a63223;
}

.recipe-section {
    width: 70%;
    margin: 0 auto;
}

.burger-recipe {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.description {
    background-color: #eef0f4;
    font-weight: bold;
}

.directions {
    width: 50%;
}

.directions ol li:nth-of-type(7) {
    margin-bottom: .9rem;
}

.ingredients {
    width: 40%;
}

.ingredients ul:first-of-type {
    margin-bottom: .9rem;;
}

.burger-recipe li {
    font-size: .85rem;
}

.timing {
    margin-top: .9rem;
}

footer {
    height: 5rem;
}
