* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

.recipe {
    width: 200px;
    height: 200px;
    display: flex;
}

.small-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    position: absolute;
}

.recipe-caption {
    background-color: white;
    z-index: 100;
}